body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    width: 100vw;
    /* overflow-x: scroll; */
    font-size: 0.85rem;
    user-select: none;
}
#years-con{
    top:2rem;
}

#closebtn{
    position: absolute;
    top: 0;
    right: 0rem;
}

.blur-mob{
    backdrop-filter: blur(10px);
}

/* Menu */
.btn,
.yearbtn,
#copyright {
    z-index: 2;
}
.btn,
.yearbtn {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    width: fit-content;
    color: black;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0rem;
    min-height: 1rem;
    /* background-color: rgb(1, 92, 92); */
}
#about_close_btn {
    height: min-content;
}
.btn:hover,
.yearbtn:hover,
#about_close_btn:hover {
    background-color: rgba(150, 150, 150, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 0.5rem;
    transition: all 0.2s;

    /* color: lightgray; */
}
#years-con {
    right: 0;
}
#yeartitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
}

.yearbtn {
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(255, 255, 255, 0.5); */
    backdrop-filter: blur(10px);
    color: rgb(0, 0, 0);
}
#byeoriyang_btn {
    z-index: 12;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
}
#about_btn {
    position: fixed;
    top: 2rem;
}
#email_btn {
    position: absolute;
    top: -2rem;
    left: 0;
    display: none;
}
/* #index_btn{
  position: fixed;
  bottom:0.5rem;
} */
#copyright {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    width: fit-content;
    text-decoration: none;
    /* position: fixed;
  bottom: 0.5rem;
  right: 0; */
}
#footer {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    /* background: rgb(255, 255, 255);
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 20%
    ); */
    position: fixed;
    bottom: 0rem;
    z-index: 10;
}

/* Artworks */
#artworks {
    display: flex;
    position: fixed;
    top: 2rem;
    width: max-content;
    height: calc(100vh - 2rem);
    overflow-x: none;
    left: 0;
    transition: left 0.5s;
    z-index: 1;
}

#artworks::-webkit-scrollbar {
    display: none;
}

.slide {
    position: relative;
    display: block;
    min-width: 25rem;
    max-width: 25rem;
    top: 0;
}

#main-body{
    transition: left 0.5s;

}

.title {
    font-family: sans-serif;
    position: relative;
    z-index: 0;
    /* font-size: 0.9rem; */
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    visibility: hidden;
    text-decoration: none;
    width: calc(25rem - 0.8rem);
    display: flex;
    flex-wrap: wrap;
    height: 2rem;
}

/* #firstslide, #lastslide{
 min-width: 11vw;
} */

.blur {
    position: absolute;
    min-width: 25rem;
    max-width: 25rem;
    height: calc(100vh - 4rem);
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.2s ease,
        visibility 0.2s ease;
}

/* .blur:hover {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 0 !important;
} */
.images {
    cursor: pointer;
}
.images:hover + .blur {
    display: none;
}

/* Side */
#left,
#right {
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    z-index: 2;
    top: 4rem;
    color: white;
    cursor: pointer;
    position: absolute;
    z-index: 8;
}

#right {
    display: flex;
    width: cacl(100vw - 75rem);
    right: 0rem;
}
#left {
    display: none;
}
/* About */
#about_con {
    position: fixed;
    top: 4rem;
    display: none;
    justify-content: space-between;
    width: 25rem;
    height: calc(100vw - 6.5rem);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    line-height: 1.05rem;
    z-index: 10;
}
#about {
    width: 20rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

#artworks-mob {
    display: none;
}

@media (max-width: 768px) {
    #about_con {
        position: fixed;
        top: 6rem;
        left: 1.5rem;
        display: none;
        justify-content: space-between;
        width: calc(100vw - 5rem);
        height: calc(100vh - 6rem);
        padding: 1rem;
        padding-top: 0.8rem;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
        line-height: 1.05rem;
        z-index: 10;
    }
    #right,
    #left {
        visibility: hidden;
    }
    #artworks {
        display: none;
    }
    #artworks-mob {
        display: flex;
        position: fixed;
        top: 6rem;
        left: 1.5rem;
        height: calc(100svh - 6rem);
        width: calc(100vw - 3rem);
        overflow-y: scroll;
        flex-wrap: wrap;
    }
    #artworks-mob {
        -ms-overflow-style: none;
    }
    #artworks-mob::-webkit-scrollbar {
        display: none;
    }
    .btn {
        cursor: pointer;
    }

    #email_btn {
        margin: 0rem 0rem;
    }
    #about_btn {
        position: fixed;
        top: 0rem;
        right: 1.5rem;
    }
    #index_btn {
        position: fixed;
        top: 0;
        right: 4.75rem;
        cursor: pointer;
    }
    #copyright {
        display: none;
    }
    .images-mob {
        cursor: pointer;
    }
    #years-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #byeoriyang_btn{
        left: 1.5rem;
        z-index: 13;
    }
    #years-con{
        top: 4rem;
        right: 1.5rem;
    }
    #closebtn{
        position: absolute;
        top: 0;
        right: 1.5rem;
    }
    #about {
        width: 20rem;
        margin-top: 0rem;
        margin-left: 0rem;
    }
    #about_close_btn{
        position: fixed;
        top: -6rem;
        right: -0rem;
    }
}
